@{
    ViewData["Title"] = "Zakupy zakończone";
}

<h2>Zakupy zakończone</h2>
<p>Twoje zakupy zostały pomyślnie zakończone! Dziękujemy za zakupy.</p>
<a href="@Url.Action("Index", "Product")">Powróć do sklepu</a>
